{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<h1>Index Page</h1>

{% if current_user.is_authenticated %}
    <h3>Hello {{ current_user.username }}!</h3>
    <!-- Export Users Button -->
    <a href="{{ url_for('export_users') }}" class="btn btn-primary">Export Users</a>
{% else %}
    <h3>Hello Stranger!</h3>
{% endif %}


<a href="{{ url_for('signup') }}">Sign Up</a>
<a href="{{ url_for('login') }}">Login</a>
<a href="{{ url_for('logout') }}">Logout</a>
<a href="{{ url_for('secret') }}">Secret</a>
<a href="{{ url_for('export_patients') }}">Export Patients</a>

{% endblock %}
