{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<h1>Index Page</h1>

{% if current_user.is_authenticated %}
    <h3>Hello {{ current_user.username }}!</h3>
    <!-- Export Users Button -->
    <a href="{{ url_for('export_users') }}" class="btn btn-primary">Export Users</a>
{% else %}
    <h3>Hello Stranger!</h3>
{% endif %}


<a href="{{ url_for('signup') }}">Sign Up</a>
<a href="{{ url_for('login') }}">Login</a>
<a href="{{ url_for('logout') }}">Logout</a>
<a href="{{ url_for('secret') }}">Secret</a>
<a href="{{ url_for('export_patients') }}">Export Patients</a>
<a href="{{ url_for('insert_data') }}">Insert Data</a>
<a href="{{ url_for('submit_treatment') }}">Submit Treatment</a>
<form action="{{ url_for('export_patient_records') }}" method="POST">
    <input type="number" name="patient_id" placeholder="Patient ID" required="required"><br>
    <input type="submit" value="Find Patient">
</form>

<form action="{{ url_for('export_patient_simplify') }}" method="POST">
    <input type="number" name="patient_id" placeholder="Patient ID (Simplify)" required="required"><br>
    <input type="submit" value="Find Patient">
</form>

<form action="{{ url_for('export_patient_record_visit') }}" method="POST">
    <input type="number" name="patient_id" placeholder="Patient ID" required="required"><br>
    <input type="number" name="record_id" placeholder="Record ID" required="required"><br>
    <input type="submit" value="Find Record">
</form>

{% endblock %}
