{% extends "base.html" %}
{% block title %}Signup{% endblock %}

{% block content %}
<h1>Sign Up Page</h1>
<form action="{{ url_for('signup') }}" method="POST">
    <input type="text" name="email" placeholder="Email" required="required"><br>
    <input type="text" name="username" placeholder="Username" required="required"><br>
    <input type="password" name="password" placeholder="Password" required="required"><br>
    <input type="text" name="mobile_no" placeholder="Mobile Number" required="required"><br>
    <input type="text" name="address" placeholder="Address" required="required"><br>

    <label>Role:</label><br>
    <input type="checkbox" name="role" value="admin"> Admin<br>
    <input type="checkbox" name="role" value="therapist"> Therapist<br>

    <input type="submit" value="Sign Up">
</form>
{% endblock %}
